// Greeting
// -----------------------------------------------------------------------------

// This is just a "Hello there" inline element
// which should disappear due to lack of space
// when the device is in portrait mode:
@media (orientation portrait)

  .greeting
    display none

    &:after
      content '\A'
      white-space pre
