// Social media
// -----------------------------------------------------------------------------

.floathack {
  position: relative;
  float: right;
  left: -50%;
  margin: 0;
}

.social-media-list {
  position: relative;
  left: 50%;
}

.social-media-item {
  display: block;
  float: left;
}

@media (orientation: portrait) {
  .social-media-item:nth-child(4n) {
    clear: left;
  }
}

// Social media link
// -----------------------------------------------------------------------------

.social-media-link {
  display: block;
  width: 3.2rem;
  text-align: center;
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: #666;
  user-select: none;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); // iOS
  -webkit-tap-highlight-color: transparent; // Android
}

@media (orientation: portrait) {
  .social-media-link {
    width: 4rem;
    line-height: 4rem;
  }
}

// Social media name
// -----------------------------------------------------------------------------

.social-media-name {
  display: none;
}
